<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta content= "text/html"; charset="utf-8">
  </head>
  <body>
    <h1>Welcome to our Cooking School, <%= @student.first_name%></h1>
    <p>
      email: <%= @student.email%>
      password: <%= @student.password%>
    </p>
  </body>
</html>
