<h1>Courses#index</h1>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      NAME
    </div>
    <div class="col-md-4">
      HOURS
    </div>
    <div class="col-md-4">
      ACTIVE COHORTS
    </div>
  </div>
</div>
<div class="container">

<div class="main overflow-auto">

<% Course.all.each do |c|%>
<div id = "<%"#{c.id}"%>"class="row shadow-sm p-3 mb-5 bg-white rounded">

<%= link_to(c.name, "/course/#{c.id}")%>
<%= link_to 'Delete', "/admin/courses/#{c.id}", method: :delete, data: {confirm: 'Are you sure?', remote: true}%><br>
</div>
<% end%>
</div>
