<h1>Add new Course</h1>
<%= form_for [:admin, @course] do |f|%>
  <div class="form-group">
    <%= f.text_field :name, placeholder:"Course Name"%>
  </div>

  <div class="form-group">
    <%= f.number_field :class_hours, placeholder:"Cours Hours"%>
  </div>

<div class="form-group">
  <%= f.submit "Submit"%>
</div>
<%end%>
</div>
