<div class="col-md-3">
  <img class="rounded-circle" src="" alt="">
  <nav class="border-right">
    <ul>

      <li>
        <a href="/admin/instructors"><i class="fas fa-chalkboard-teacher float-left"></i>Instructors</a>
      </li>
      <li><a href="/admin/students"><i class="fas fa-graduation-cap float-left"></i>Students</a></li>
      <li><a href="/admin/courses"><i class="fas fa-chalkboard float-left"></i>Courses</a></li>
      <li><a href="/admin/cohorts"><i class="fas fa-apple-alt float-left"></i>Cohorts</a></li>
      <li><a href="/admin/students"><i class="fas fa-cogs float-left"></i>Settings</a></li>
      <li><a href="/login"><i class="fas fa-arrow-circle-left float-left"></i>Logout</a></li>

    </ul>
  </nav>

</div>
