<div class="col-md-3">
  <img class="rounded-circle" src="" alt="">
  <nav class="">
    <ul>

      <li>
        <a href="/instructor/home"><i class="fas fa-chalkboard-teacher float-left"></i>Instructor Home</a>
      </li>
      <li><a href="/courses"><i class="fas fa-chalkboard float-left"></i>Courses</a></li>
      <li><a href="/cohorts"><i class="fas fa-apple-alt float-left"></i>Cohorts</a></li>
      <!-- <li><a href="#"><i class="fas fa-cogs float-left"></i>Settings</a></li> -->
      <li><a href="/login"><i class="fas fa-arrow-circle-left float-left"></i>Logout</a></li>

    </ul>
  </nav>

</div>
